*{
    margin: 0;
    padding: 0;
  
}

body{
    font-family: 300 20px/30px "ProximaNova",sans-serif;
    color: #373b3e;
    background: #fff;
    margin: 0;
}

#nav-bar{
    position:sticky;
    margin: 0 auto;
  
  
  
}

.navbar{
    background-color: #Fff; 
    padding-left: 15px;
    padding-right: 15px;
    
}

.navbar-brand img{
    height: 60px;
    width: 190px;
    padding-left: 20px;
    
}

.navbar-nav li{
    padding: 0 10px;
    float: right;
}

.navbar-nav li a{
    color: #373b3e !important;
    font-weight: 700;
   
    
}
.signup{
    border-radius: 7px;
    background: #4ca74c;
    color:#fff;
    width:80px;
    text-align: center;
}
.fa-bars{
    color:#000;
    font-size: 30px !important;
}

.navbar-toggler{
    outline: none;
}

#banner{
    text-align: center;
    background-color: #f1f1f2;
   
}
#support .container{
    position: relative;
    width: auto;
   
    padding-left: 15px;
    padding-left: 15px;
}
#support p{
    line-height:normal;
    margin-bottom: 0px;
}
#support strong{
    
    font-weight: 700;
}
#support a{
     color:#4ca74c;
}


#support ul{
    list-style: none;
}


 h2{
    color:#4ca74c;
   margin:0px;
    padding-bottom: 15px;
    font-size: 35px;
    font-weight: 600;
}

h1{
    color:#373b3e;
    line-height: normal;
    padding-bottom: 28px;
    margin: 0px;
    font-size: 42px;
    font-weight: 600;
}
#banner p{
    color: #a6a8ab;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}
#banner .btn{
    position: relative;
    top:43px;
    font-size: 21px;
    font-weight: 600;
    line-height: 79px;
    height: 79px;
    width: 355px;
}

.btn-start{
    display: block;
    background: #4ca74c;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    padding: 0px;
    border:0;
}


/*signup section*/


#login  .form-wrapper{
    overflow: hidden;
   padding-top: 75px;
    padding: 75px 0;
    max-width: 1200px;
}

#login .row{
    margin: 0 -15px;
}
#login .form-group{
    padding-bottom: 25px;
    margin:0;
    
}

#login .form-control {
    color: #373b3e;
    font-size: 20px;
    height: 69px;
    padding: 0 29px;
    outline: none;
    background: #f1f1f2;
    border-radius: 5px;
    border: 0;
    box-shadow: none!important;
    font-weight: 300;
    display: block;
    line-height: 1.42857143;
    width: 100%;
}

#login input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
}
.crf-i{
    height: 20px;
    width: 20px;
    z-index: 10;
  
}

.crf-i+label.css-label {
    padding-left: 40px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 17px;
    vertical-align: text-top;
    cursor: pointer;
    color: #808184;
    font-weight: 300;
    box-sizing: border-box;
}

#login .checkbox{
        float: left;
    color: #373b3e;
    font-size: 20px;
    font-weight: 300;
    display: block;
   margin-top: 30px;
    
    
}


#login label{
    max-width: 100%;
    margin-bottom: 5px;
    margin-right: 20px;
}


#login .pull-right{
    color: #bbbdbf;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 300;
}
#login .checkbox a{
    text-decoration: none;
}
#login .form-wrapper form .btn{
    float:left;
    position: relative;
}


#login .btn.btn-primary {
    margin-top: 10px;
    margin-right: 10px;
    width: 131px;
    height: 70px;
    color: #fff;
    border-radius: 8px;
    line-height: 70px;
    padding: 0;
    background: #4ca74c;
    border: 0;
    font-size: 20px;
    font-weight: 300;
}

.green-box, .dark-box {
    background: #4ca74c;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.green-box h2, .dark-box h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 20px 0;
    font-size: 40px;
}


.green-box p, .dark-box p {
    color: #fff;
    font-weight: 300;
    padding-bottom: 20px;
    margin: 0;
    font-size: 20px;
}

.green-box .btn, .dark-box .btn {
    display: inline-block;
    float: none;
}



#login .green-box .btn, .dark-box .btn {
    display: inline-block;
    float: none;
}
#login .btn-default {
    color: #4ca74c;
    border: 0;
    font-size: 20px;
    font-weight: 300;
    padding: 0 40px;
    height: 70px;
    line-height: 70px;
    border-radius: 8px;
    background: #fff;
}


#login .btn{
    margin-bottom: 0px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor:pointer;
}
@media (min-width: 992px)
.col-md-6 {
    width: 50%;
}


#login  h1, h2{
    padding-left: 70px;
}

@media(min-width:992px).col-md-6{
    width:50%;
}

#widgets{
    background: #2e2d2e;
    padding:  0 0px 90px;
    position: relative;
    color:#a6a8ab;
}



@media screen and (max-width: 767px)
#widgets .btn-start {
    max-width: 300px;
    font-size: 20px;
}
#widgets .row .btn-start{
    display: block;
    top: -48px;
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
    margin: auto;
    width: 379px;
    height: 85px;
    line-height: 85px;
    font-size: 26px;
    border-radius: 10px;
    text-align: center;
    font-weight: 300;
    position: absolute;
   
  
    
    
}

#widgets .cols{
    padding: 40px 0;
}

#widgets h3{
    padding: 0px 0 6px;
    font-size: 16px;
    font-weight: 400;
    color: #58595b;
}


#widgets .col{
    float: left;
    text-shadow: 1px 1px #000;
    width: 25%;
    padding-left: 2px;
}


#widgets ul{
    padding: 0 ;
    list-style: none;
    margin: 0;
}


#widgets li{
   
    display: list-item;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
}

#widgets li a {
    font-size: 16px;
    font-weight: 400;
    color: #a6a8ab;
    text-decoration: none;
}

#footer{
    clear: both;
    background: #575757;
    overflow: hidden;
    color: #a6a8ab;
    padding: 28px 0 25px;
    font-size: 14px;
    font-weight: 300;
}


#footer .logo {
    float: left;
    opacity: .55;
}


#footer .right{
    float: right;
}

#footer ul, #footer li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 13px;
}

#footer .right p {
    padding: 4px 10px 0;
    float: left;
}


@media screen and (max-width: 479px)
#widgets .col {
    width: 48%;
    padding: 0 2%;
}





@media screen and (max-width: 767px)
#widgets .cols {
    font-size: 0;
    padding: 0 0 40px;
}



@media screen and (max-width: 767px)
#widgets .col {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 22px;
  
}


